
.floatFab {
  position: fixed;
  bottom: 50px;
  right: 30px;
}
.tabLine {
  height: 2px;
  width: 100px;
}

.addImg {
  width: 500px;
  height: 300px;
}

.complete {
  position: absolute;
  top: 0;
  right: 20px;
  width: 100px;
  height: 100px;
}
